<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CinemaManagement</title>
    <!-- Favicon icon -->
    <link href="~/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CinemaManagement.styles.css" asp-append-version="true" />



</head>

<body>

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="/Admin" class="brand-logo">
                <h2 style="color: white">Phim hay</h2>
            </a>

        </div>
        <!--**********************************
            Nav header end
        ***********************************-->
        
        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-9">
                    <div class="container">
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        </div>
                        @Html.Partial("~/Pages/Shared/RightHeader.cshtml")
                    </div>
                </nav>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->
        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="quixnav">
            <div class="quixnav-scroll">
                <ul class="metismenu" id="menu">
                    <li>
                        <a href="/Admin">
                            <i class="icon icon-chart-bar-33"></i>
                            <span class="nav-text">Thống kê</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Admin/Genres/ManageGenres">
                            <i class="icon icon-app-store"></i>
                            <span class="nav-text">Thể loại phim</span>
                        </a>

                    </li>
                    <li>
                        <a href="/Admin/Members/ManageMembers">
                            <i class="icon icon-single-04 "></i>
                            <span class="nav-text">Members</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Admin/Movies/ManageMovies">
                            <i class="icon icon-form"></i>
                            <span class="nav-text">Quản lý phim</span>
                        </a>
                    </li>
                </ul>
            </div>


        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->
        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            @RenderBody()
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="container">
                &copy; 2023 - CinemaManagement
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->



    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->
    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="~/js/global.min.js"></script>
    <script src="~/js/custom.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>